@page "/shoppingCarts"
@using Shop.UI.Web.AspNetCore.Blazor.Shared
@inject HttpClient Http
@inject IDialogService DialogService

<h1>Shopping-Carts</h1>
<div class="mb-6">
    @if (shoppingCarts == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <MudSimpleTable>
            <thead>
                <tr>
                    <th>Shopping-Cart</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var shoppingCart in shoppingCarts)
                {
                    <tr>
                        <td>
                            
                            <p>
                                <div style="background: @(shoppingCart.Status == 1 ? "lightblue" : shoppingCart.Status == 2 ? "green" : "red");display:inline-block; border-radius: 10px;width: 10px; height: 10px;"></div>
                                For @shoppingCart.CustomerName
                            </p>
                            <MudText Typo="Typo.caption">@shoppingCart.CreatedAt</MudText>
                        </td>
                        <td style="width: 50px;">
                            <MudIconButton Icon="@Icons.Material.Filled.Edit" Link="@($"/shoppingCarts/{shoppingCart.ShoppingCartId}")"></MudIconButton>
                        </td>
                    </tr>
                }
            </tbody>
        </MudSimpleTable>
    }
</div>
@code {
    private ShoppingCartViewModel[] shoppingCarts;

    protected override async Task OnInitializedAsync()
    {
        await LoadAsync();
    }

    private async Task LoadAsync()
    {
        shoppingCarts = await Http.GetFromJsonAsync<ShoppingCartViewModel[]>("api/shoppingCarts");
    }
}
